form {
  background-color:seashell;
  border: solid;
  display: grid;
  grid-column-gap: 10px;
  padding: 15px 30px 15px 30px;
  width: 400px;
}
button {
  margin-top: 15px;
  width: 100px;
}
div {
  margin-top: 10px;
}
input {
  display: block;
  margin-left: 0;
  min-width: 0;
  text-align: left;
  width: 100%;
}
label {
  display: block;
  margin-left: 0;
  min-width: 0;
  width: 100%;
}

.genInfoForm {
  grid-template-areas:
    "a a a a a a"
    "b b b b b b"
    "c c d d d d"
    "e e e e e e"
    "f f f g h h"
    "i i i i i i";
  grid-template-columns: repeat(6, 1fr); 
}
.heading {
  grid-area: a;
}
.inputBox {
  margin-left: 0;
  display: flex;
  width: 100%;  
}

.first {
  grid-area: b;
}
.second {
  grid-area: c;
}
.third {
  grid-area: d;
}
.fourth {
  grid-area: e;
}
.fifth {
  grid-area: f;
}
.sixth {
  grid-area: g;
}
.seventh {
  grid-area: h;
}
.bottom {
  grid-area: i;
}