* {
  margin: auto;
  text-align: center;
}
body {
  background-color:#b0c3c9;
}
div {
  margin-top: 10px;
}
form {
  background-color:rgb(240, 226, 218);
  border-radius: 25px;
  display: grid;
  grid-column-gap: 10px;
  padding: 15px 130px 15px 130px;
  width: 400px;
}
h1 {
  color:white;
  font-size: 30px;
}
h2 {
  border-bottom: solid;
  border-color:rgb(87, 87, 87);
  border-width: 1px;
  color:rgb(123, 122, 122);
  font-size: 22px;
  height: 36px;
  text-align: left;
}
input {
  border: none;
  display: block;
  margin-bottom: 10px;
  margin-left: 0;
  min-width: 0;
  text-align: left;
  margin-top: 0;
  width: 100%;
}
input:invalid {
  outline: solid;
  outline-color: red;
}
label {
  display: block;
  margin-left: 0;
  min-width: 0;
  width: 100%;
}
/* BUTTONS */
.regularBtn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #a2c3cf 5%, #5b7275 100%);
	background-color:#a2c3cf;
  border: none;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
  margin-top: 15px;
	padding:5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  width: 100px;
}
.regularBtn:hover {
	background:linear-gradient(to bottom, #5b7275 5%, #a2c3cf 100%);
	background-color:#5b7275;
}
.regularBtn:active {
	position:relative;
	top:1px;
}
.resumeBtn {
  left: 100px;
  padding: 10px;
  position: absolute;
  top: 10px;
  width: 160px;
}
.glass{
  /* source: https://simplestepscode.com/css-glass-button-tutorial/ */
	/* background styles */
	display: inline-block;
	padding: 5px 5px;
	background-image: linear-gradient(rgb(20, 114, 164),rgb(120, 174, 203));

	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 600;
  border-color:rgb(172, 164, 159);
  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px rgb(50, 50, 50);
  text-shadow: 0px -1px #333;
}
.glass:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}
.glass:hover{
	background: linear-gradient(rgb(0, 166, 184),rgb(102, 180, 228));
}

/* BASIC FORMATTING */
.bolded {
  font-weight: bold;
}
.emphasized {
  font-style: italic;
}
.flex {
  display: flex;
}
.larger {
  font-size: larger;
}
.left {
  justify-self:left;
  margin-left: 0;
  text-align: left;
}
.right {
  justify-self: right;
  margin-right: 0;
  text-align: right;
}

/* INPUT FORM */
.heading {
  grid-area: a;
}
.inputBox {
  margin-left: 0;
  display: flex;
  height: 100%;
  width: 100%;  
}
.genInfoForm {
  grid-template-areas:
    "a a a a a a"
    "b b b b b b"
    "c c d d d d"
    "e e e e e e"
    "f f f g h h"
    "z z z z z z";
  grid-template-columns: repeat(6, 1fr); 
}

.expInfoForm {
  grid-template-areas:
    "a a a a a a"
    "b b b b b b"
    "c c c c c c"
    "d d d e e e"
    "f f f f f f"
    "g g g g g g"
    "h h h h h h"
    "i i i i i i"
    "z z z z z z";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr) 
}

.eduInfoForm {
  grid-template-areas:
    "a a a a a a"
    "b b b b b b"
    "c c c c c c"
    "d e e e e e"
    "z z z z z z";
  grid-template-columns: repeat(5, 1fr); 
}

.firstForm {
  grid-area: b;
}
.secondForm {
  grid-area: c;
}
.thirdForm {
  grid-area: d;
}
.fourthForm {
  grid-area: e;
}
.fifthForm {
  grid-area: f;
}
.sixthForm {
  grid-area: g;
}
.seventhForm {
  grid-area: h;
}
.eighthForm {
  grid-area: i;
}
.bottomForm {
  grid-area: z;
}

/* TEMPLATES */
.addBtn {
  margin-left: 100px;
  margin-top: 0px;
  position: relative;
  float: right;
}
.pubResume .name {
  font-size:24px;
  font-family: helvetica, arial, sans-serif;
  margin-top: 20px;
}
.address1 {
  margin-top: 5px !important;
}
.contacts {
  margin-top: 0px !important;
}
.resume {
  background-color:rgb(240, 226, 218);
  border-radius: 25px;
  display: block;
  font-family:'Times New Roman', Times, serif;
  padding: 15px 30px 15px 30px;
  width: 600px;
}
.pubResume {
  width: 500px;
}
.pubResumePage {
  background-color: white;
  border: solid;
  border-color: black;
  font-family: 'Times New Roman', Times, serif !important;
  font-size: 12px;
  height: 750px;
  width:600px;
}
.toggle-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}



