* {
  font-family: "Rubik", sans-serif;
  margin: auto;
  text-align: center;
}
body {
  background-color:#003b4d;
}
button {
  font-family: 'Prompt', sans-serif;
}
div {
  margin-top: 5px;
}
.InputForm {
  background-color:#EED236;
  border-radius: 25px;
  display: grid;
  grid-template:
    "header" min-content
    "divider" min-content
    "inputs" min-content
    / 1fr;
  padding: 15px 130px 15px 130px;
  position: relative;
  width: 400px;
}

input {
  border: none;
  display: block;
  margin-bottom: 10px;
  margin-left: 0;
  min-width: 0;
  text-align: left;
  margin-top: 0;
  width: 100%;
}
input:invalid {
  outline: solid;
  outline-color: red;
}
label {
  display: block;
  margin-left: 0;
  min-width: 0;
  width: 100%;
}
/* BUTTONS */
.regularBtn {
	background-color:#008FBA;
  background-image: linear-gradient(rgb(0, 0, 0),rgb(31, 117, 163));
  border: none;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:.9em;
	font-weight:bold;
  margin: 5px 2.5px 5px 2.5px;
	padding:2px;
  position: relative;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  width: 100px;
}
.regularBtn:after {
  border-radius: 8px 8px 0px 0px;
	content: '';
	position: absolute;
	top: .5px;
	left: .5px;
	width: calc(100% - 0px);
	height: 50%;
	background: linear-gradient(rgba(206, 206, 206, 0.8), rgba(206,206,206,0.2));
}
.regularBtn:hover {
  background: linear-gradient(rgb(0, 109, 121),rgb(112, 200, 255));
}
.regularBtn:active {
	position:relative;
	top:1px;
}

.publish-btn {
  padding: 5px;
  grid-area: button1;
  margin-bottom: 5px;
  margin-left: 20px;
  position: relative;
  width: 140px;
}
.clear-btn {
  padding: 5px;
  grid-area: button2;
  margin-bottom: 5px;
  margin-left: 10px;
  position: relative;
  width: 140px;
}
.glass{
  /* source: https://simplestepscode.com/css-glass-button-tutorial/ */
	/* background styles */
	display: inline-block;
	padding: 5px 5px;
	background-image: linear-gradient(rgb(0, 0, 0),rgb(31, 117, 163));

	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
	font-weight: 600;
  border-color:rgb(172, 164, 159);
  border-radius: 15px;
  border-width: 1px;
  box-shadow: 0px 1px 4px -2px rgb(50, 50, 50);
  text-shadow: 0px -1px #333;
}
.glass:after{
  border-radius: 15px 15px 0px 0px;
	content: '';
	position: absolute;
	top: .5px;
	left: .5px;
	width: calc(100% - 1px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.1));
}
.glass:hover{
	background: linear-gradient(rgb(0, 166, 184),rgb(102, 180, 228));
}
.toggle-btn {
  border: none;
  display: inline-block;
  padding: 0px;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 15px;
  right: 15px;
}


/* BASIC FORMATTING */
.App-header {
  display:grid;
  grid-template: 
    ". title button1 button2 ."
    / 3fr min-content 1fr 1fr 1fr;
  margin-bottom: 20px;
  width: 100%;
}
.App-title {
  color:#FEF9DB;
  font-family: 'Lobster Two', cursive;
  font-size: 3.5em;
  grid-area: title;
}
.bolded {
  font-weight: bold;
}
.emphasized {
  font-style: italic;
}
.flex {
  display: flex;
}
.hidden {
  display: none !important;
}
.larger {
  font-size: 1.3em;
}
.left {
  justify-self:left;
  margin-left: 0;
  text-align: left;
}
.right {
  justify-self: right;
  margin-right: 0;
  text-align: right;
}

/* INPUT FORM */
.heading {
  color: #008FBA;
  font-family: "Fredoka One", sans-serif;
  font-size: 1.3em;
  grid-area: header;
  letter-spacing: .1em;
}
.InputForm-divider {
  grid-area: divider;
  margin-left: -25%;
  width: 150%;
}
.inputBox {
  margin-left: 0;
  display: flex;
  height: 100%;
  width: 100%;  
}
.inputs-div {
  display: grid;
  grid-area: inputs;
  grid-column-gap: 10px;
  width: 400px;
}
.infoForm {
  grid-template:
    "b b b b b b" 1fr
    "c c d d d d" 1fr
    "e e e e e e" 1fr
    "f f f g h h" 1fr
    "footer footer footer footer footer footer" min-content
    / 1fr 1fr 1fr 1fr 1fr 1fr;
}

.expInfoForm {
  grid-template:
    "b b" 1fr
    "c c " 1fr
    "d e" 1fr
    "f f" 1fr
    "g g" 1fr
    "h h" 1fr
    "i i" 1fr
    "footer footer" 2fr
    / 1fr 1fr;
}

.eduInfoForm {
  grid-template:
    "b b b b b b" 1fr
    "c c c c c c" 1fr
    "d e e e e e" 1fr
    "footer footer footer footer footer footer"
    / 1fr 1fr 1fr 1fr 1fr 1fr;
}

.firstForm {
  grid-area: b;
}
.secondForm {
  grid-area: c;
}
.thirdForm {
  grid-area: d;
}
.fourthForm {
  grid-area: e;
}
.fifthForm {
  grid-area: f;
}
.sixthForm {
  grid-area: g;
}
.seventhForm {
  grid-area: h;
}
.eighthForm {
  grid-area: i;
}
.bottomForm {
  grid-area: footer;
}

/* TEMPLATES */
.addBtn {
  right: 25px;
  top: 7px;
  position: absolute;
  float: right;
}
.GenTemplate-name {
  font-size:1.5em;
  font-weight: bold;
}
.address1 {
  margin-top: 5px !important;
}
.contacts {
  margin-top: 0px !important;
}
.resume {
  background-color:rgb(240, 241, 207);
  border-radius: 25px;
  display: block;
  padding: 15px 30px 15px 30px;
  position: relative;
  width: 600px;
}
.resumeHeader {
  padding: 10px 30px 10px 30px;
}
.template-header {
  border-bottom: solid;
  border-width: 1px;
  font-size: 1.2em;
  padding: 5px 5px 10px 5px;
  text-align: left;
}
.resumeExpJob {
  width: 95%;
}
.pubResume {
  width: 500px;
}
.resume-section {
  margin-bottom: 15px;
}
.pubResumePage {
  background-color: white;
  border: solid;
  border-color: black;
  font-size: .8em;
  height: 750px;
  padding-top: 20px;
  width:600px;
}





